<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img class="col-lg-8 col-xs-12" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"/>
      </div>
      <div class="row">
        <button on-click="incrementar" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Cargar Datos</button>
        <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
        <input type="text" value="[[prop1]]">
        <table class="table table-striped col-lg-12 col-xl-12">
          <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
          <tr>
            <td>[[prop2]]</td>
            <td>Elena</td>
            <td>Nito</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Leonard</td>
            <td>Gao</td>
          </tr>
            </tbody>
        </table>
      </div>

    <h2>Hello [[prop1]]!</h2>
    <h2>Mi valor es [[prop2]]</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String//,
            //value: 'mi-visor'
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3:{
            type: String,
            value: 'Indique su usuario:'
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
